::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}

body {
  -ms-overflow-style: none;
}

.md-typeset img, .md-typeset svg, .md-typeset video {
  height: auto;
  max-width: 80%;
}

.md-typeset div.arithmatex > * {
  padding: 0;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  font-size: 0.9rem !important;
}

.md-typeset .admonition {
  font-size: inherit !important;
}


[data-md-color-scheme="default"] {
  /* Blue */
  /* --md-hue: 215deg; */
  /* Green */
  /* --md-hue: 145deg; */
  --md-hue: 221deg;

  /* Header */
  --md-primary-fg-color: hsl(0, 0%, 100%);
  --md-primary-bg-color: hsl(0, 0%, 10%);
  --md-primary-fg-color--dark: hsl(0, 0%, 85%);
  --md-typeset-a-color: hsl(var(--md-hue), 80%, 15%) !important;
  /* Global */
  --md-default-fg-color: hsl(0, 0%, 20%);
  /* This color is what your thing fades when passed by */
  /* --md-default-fg-color--light: hsl(var(--md-hue),50%,5%); */
  --md-default-bg-color: hsl(var(--md-hue), 0%, 100%);

  --md-typeset-mark-color: hsl(var(--md-hue), 90%, 85%, 70%);
  --md-accent-fg-color: hsl(var(--md-hue), 95%, 62%);
  --md-accent-fg-color--transparent: #526cfe1a;
  --md-accent-bg-color: #fff;
  --md-accent-bg-color--light: #ffffffb3;
  --md-code-bg-color: hsl(var(--md-hue), 2%, 95%);

  /* --md-primary-fg-color--lightest: hsl(0, 0%, 7%);
  --md-footer-bg-color: hsl(0, 0%, 11%);
  --md-footer-bg-color--dark: hsl(0, 0%, 6%); */
  --md-footer-bg-color: hsl(0, 0%, 8%);
  --md-footer-bg-color--dark: hsl(0, 0%, 5.5%);

  @media screen and (min-width: 60em) {
    .md-search__input::placeholder {
      color: #000;
    }
  }

  .md-search__input {
    background: #ffffffcc;
  }
}

[data-md-color-scheme="slate"] {
  /* Blue */
  /* --md-hue: 215deg; */
  /* Green */
  /* --md-hue: 145deg; */
  --md-hue: 221deg;

  /* Header */
  --md-primary-fg-color--lightest: hsl(0, 0%, 7%);
  --md-footer-bg-color: hsl(0, 0%, 11%);
  --md-footer-bg-color--dark: hsl(0, 0%, 6%);

  --md-typeset-mark-color: hsl(var(--md-hue), 90%, 65%, 40%);
  --md-accent-fg-color: hsla(var(--md-hue), 65%, 75%, 80%);
  --md-typeset-a-color: hsl(var(--md-hue), 20%, 95%) !important;
  --md-code-bg-color: hsla(var(--md-hue), 2%, 12%, 1);

  /* --md-default-bg-color: hsl(var(--md-hue), 0%, 8%); */
  --md-default-bg-color: #1E1E1E;
  --md-default-fg-color: hsl(0, 0%, 90%);
  /* This color is what your thing fades when passed by */
  /* --md-default-fg-color--light: hsl(var(--md-hue),50%,95%); */
  --md-default-fg-color--lightest: hsl(0, 0%, 10%);
  /* Also remember to change the color in the <head /> */
  /* --md-primary-fg-color: hsl(0, 0%, 11%); */
  --md-primary-fg-color: #1F2021;
  /* Header */
  --md-primary-fg-color--lightest: hsl(0, 0%, 7%);
  --md-footer-bg-color: hsl(0, 0%, 8%);
  --md-footer-bg-color--dark: hsl(0, 0%, 5.5%);
}

.md-header__ellipsis .md-header__topic {
  font-size: 0.8rem;
  /* Regular font */
  font-weight: 400;
}

.md-search__inner {
  padding-top: 4px;
}

.md-search__input {
  font-family: "Arapey", serif;
}

@media screen and (min-width: 76.25em) {
  font-size: 4rem;
}
.md-typeset h1 {
  /* font-family: "Arapey", serif; */
  font-family: "DM Serif Display", serif;
  /* font-family: "Protest Guerrilla", sans-serif; */
  /* font-family: "Anton SC", sans-serif; */
  /* text-transform: uppercase; */
  color: var(--md-default-fg-color);
  font-size: 1.8rem;
  text-wrap: pretty;
  @media screen and (min-width: 76.25em) {
    font-size: 2.8rem;
  }
}

.jupyter-wrapper .jp-InputArea-editor {
  /* border: var(--jp-border-width) solid var(--jp-cell-editor-border-color) !important; */
  border: 0px solid var(--jp-cell-editor-border-color) !important;
  border-radius: 0.1rem !important;
  padding: 7px 5px 9px 5px !important;
  background: var(--md-code-bg-color) !important;
}

.highlight-ipynb {
  background: var(--md-code-bg-color) !important;
}

@media screen and (max-width: 60em) {
  .jupyter-wrapper .jp-Notebook .jp-Cell:not(.jp-mod-active) .jp-InputPrompt {
    display: none;
  }

  .jupyter-wrapper .jp-Notebook .jp-Cell:not(.jp-mod-active) .jp-OutputPrompt {
    display: none;
  }
}

.jupyter-wrapper .jp-Notebook {
  padding: 0px !important;
  overflow: visible;
}

.jupyter-wrapper .jp-Cell {
  padding: 0 0 5px 0 !important;
  --jp-mirror-editor-atom-color: var(--md-blue-300) !important;
  --jp-mirror-editor-number-color: var(--md-code-hl-number-color) !important;
  --jp-mirror-editor-def-color: var(--md-code-hl-function-color) !important;
  --jp-mirror-editor-string-color: var(--md-code-hl-string-color) !important;
  --jp-mirror-editor-string-2-color: var(
    --md-code-hl-constant-color
  ) !important;
  --jp-mirror-editor-meta-color: var(--md-code-hl-color--light) !important;
}

/* TODO edge to edge code blocks */
/* @media screen and (max-width: 44.9844em) {
  .jupyter-wrapper .jp-InputArea-editor {
    margin: 1em -.8rem !important;
  }
} */

.md-typeset .admonition,
.md-typeset details {
  border-width: 0px;
}
.md-typeset [type="checkbox"]:checked + .task-list-indicator::before {
  background-color: #039c52;
}

@media screen and (min-width: 76.25em) {
  [dir="ltr"]
    .md-sidebar--primary:not([hidden])
    ~ .md-content
    > .md-content__inner {
    margin-left: 0.8rem;
  }
  .md-main__inner {
    flex-direction: row-reverse !important;
  }

  li.md-nav__item--active {
    --md-primary-fg-color: hsl(0, 0%, 40%);
  }

  .md-sidebar {
    /* align-self: flex-start;
  flex-shrink: 0;
  padding: 1.2rem 0;
  position: sticky;
  top: 2.4rem; */
    width: 17rem;
  }
}
.md-typeset a,
.md-typeset a::before {
  text-decoration: underline wavy hsla(var(--md-hue), 50%, 70%, 50%);
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

h1 > a,
h2 > a {
  text-decoration: none !important;
}
